@tailwind base;

@layer base {
  html {
    @apply text-white bg-primary font-jetbrains;
  } 
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Iceland';
  src: url('/fonts/iceland-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrainsmono-regular.ttf') format('truetype');
}

.text-shadow {
  text-shadow: 0 0 16px rgba(51,51,255,.25), 0 0 8px rgba(51,51,255,.25), 0 4px 32px rgba(51,51,255,.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #2f2f37;
}

*::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 0px;
  border: 0px none #ffffff;
}

::selection {
  background: #801ab3; 
}

::-moz-selection {
  background: #801ab3;
}